.formatButton button {
  background-color: #ffbf00;
  color: #000;
}

.formatButton {
  text-decoration: none;
}
.formatButton button:hover {
  background-color: #ffdf80;
  color: black;
}
.btn-primary {
  border: none;
}
