.formatButton {
  text-decoration: none;
  background-color: #ffdf80;
  border: none;
  border-radius: 0;
  color: #000;
}

.formatButton:hover {
  background-color: #ffeead;
  color: black;
}

.formatButton:focus,
.formatButton:focus-visible {
  background-color: #ffeead;
  color: black;
  border: none;
}
/* .formatButton button:hover {
  background-color: #ffdf80;
  color: black;
} */
.btn-primary {
  border: none;
}
